@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
body {
  font-family: 'Nunito Sans', sans-serif;
}

.site-wrapper {
  position: initial;
}

.site-wrapper header.site-header {
  position: absolute;
  background-color: #C9C9C9;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  margin: 0;
}

.site-wrapper header.site-header ul.header_links {
  list-style: none;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  padding-left: 25px;
  padding-right: 25px;
}

.site-wrapper header.site-header ul.header_links li {
  display: inline-block;
  margin-right: 20px;
}

.site-wrapper header.site-header ul.header_links li a {
  padding: 0 20px;
  background-color: #707070;
  color: white;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.site-wrapper header.site-header ul.header_links li a:hover, .site-wrapper header.site-header ul.header_links li a:active, .site-wrapper header.site-header ul.header_links li a:focus {
  background-color: #575757;
}

.site-wrapper header.site-header ul.header_links li a.language span {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../assets/globe.png");
  -webkit-background-size: cover;
          background-size: cover;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 5px;
}

@media (min-width: 480px) {
  .site-wrapper header.site-header ul.header_links li a {
    font-size: 20px;
  }
  .site-wrapper header.site-header ul.header_links li a.language span {
    margin-top: 2.5px;
    margin-bottom: -3px;
  }
}

.site-wrapper header.site-header ul.header_links li:last-child {
  margin-right: 30px;
}

@media (min-width: 1200px) {
  .site-wrapper header.site-header ul.header_links li:last-child {
    margin-right: 0;
  }
}

.site-wrapper section.site-main-section {
  margin-top: 156px;
}

main.main-Content {
  float: none;
  width: 100%;
  left: 0;
}

main.main-Content .BBFormButtonCell.form-group.clearfix {
  margin: 40px 0;
}

main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary {
  background-color: #F04623;
  border-radius: 0;
  float: right;
  border: 0;
  font-size: 18px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary:hover, main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary:active, main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary:focus {
  background-color: #d2300e;
}

#new-logo-wrap {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 15px;
}

#new-logo-wrap img {
  width: 177px;
  height: 81px;
}

#new-menu a#menu-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 42px;
}

#new-menu a#menu-icon img {
  width: 100%;
  height: 100%;
}

@media (min-width: 480px) {
  #new-menu a#menu-icon {
    width: 50px;
    height: 52px;
  }
}

.BBListingHeading h1 {
  font-weight: bold;
  font-size: 28px;
}

div.Programming_Event_DateTime {
  border: 2px solid #CECECE;
  margin-top: 40px;
  margin-bottom: 40px;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer {
  padding: 15px;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 {
  text-align: center;
  width: 30%;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6:nth-child(2) {
  float: right;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 .BBFieldCaption.TicketDateHeaderLabel {
  font-size: 18px;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2, div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2 span {
  margin-left: unset;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.Programming_Event_PriceList {
  border-width: 1px 1px 0px;
  border-style: solid;
  border-color: #CECECE;
}

.Programming_Event_PriceList > .show-grid > .row {
  border-top: 0;
  border-bottom: 1px solid #CECECE;
}

.Programming_Event_PriceList > .show-grid > .row > div label, .Programming_Event_PriceList > .show-grid > .row > div span {
  line-height: 34px;
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */