@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  background: #212121;
  height: 100vh;
  top: 0 !important;
}

body > .site-container, body > form {
  background: white;
}

.MS_pageWrapper {
  margin-bottom: 0;
}

.site-wrapper {
  position: initial;
}

.site-wrapper form {
  margin-bottom: 0;
}

.site-wrapper header.site-header {
  position: absolute;
  background-color: #C9C9C9;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  margin: 0;
}

.site-wrapper header.site-header ul.header_links {
  list-style: none;
  max-width: 1170px;
  margin-left: -15px;
  margin-right: 0;
  text-align: right;
  padding-left: 0;
  padding-right: 25px;
}

@media (min-width: 480px) {
  .site-wrapper header.site-header ul.header_links {
    margin-left: auto;
    margin-right: auto;
  }
}

.site-wrapper header.site-header ul.header_links li {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.site-wrapper header.site-header ul.header_links li a {
  padding: 0 10px;
  background-color: #707070;
  color: white;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.site-wrapper header.site-header ul.header_links li a:hover, .site-wrapper header.site-header ul.header_links li a:active, .site-wrapper header.site-header ul.header_links li a:focus {
  background-color: black;
}

.site-wrapper header.site-header ul.header_links li a.language {
  padding-right: 0;
}

.site-wrapper header.site-header ul.header_links li a.language:focus {
  background-color: #707070;
}

.site-wrapper header.site-header ul.header_links li a.language span {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("https://gitcdn.link/repo/gurzaf/FristArtMuseum/master/frist/assets/globe.png");
  -webkit-background-size: cover;
          background-size: cover;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.site-wrapper header.site-header ul.header_links li a.language select {
  background: transparent;
  border: 0;
  max-width: 100px;
  margin-right: 10px;
}

@media (min-width: 480px) {
  .site-wrapper header.site-header ul.header_links li a {
    font-size: 20px;
    padding: 0 15px;
  }
  .site-wrapper header.site-header ul.header_links li a.language span {
    margin-top: 2.5px;
    margin-bottom: -3px;
  }
  .site-wrapper header.site-header ul.header_links li a.language select {
    max-width: 150px;
  }
}

.site-wrapper header.site-header ul.header_links li:last-child {
  margin-right: 15px;
}

@media (min-width: 1200px) {
  .site-wrapper header.site-header ul.header_links li:last-child {
    margin-right: 0;
  }
}

.site-wrapper .site-main-section {
  margin-top: 111px;
}

@media (min-width: 480px) {
  .site-wrapper .site-main-section {
    margin-top: 156px;
  }
}

main.main-Content {
  float: none;
  width: 100%;
  left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

main.main-Content .MS_contentWrapper_inner.overflow_margin_helper {
  padding-bottom: 0;
}

main.main-Content .BBFormButtonCell.form-group.clearfix {
  margin: 40px 0;
}

main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary {
  float: right;
  border-radius: 0;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: #E00000;
  border: 1px solid transparent;
}

main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary:hover, main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary:active, main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary:focus {
  text-decoration: underline;
}

main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary:hover, main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary:active, main.main-Content .BBFormButtonCell.form-group.clearfix input.btn.btn-primary:focus {
  background-color: transparent;
  color: #E00000;
  border-color: #E00000;
}

#new-logo-wrap {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
  background: white;
}

#new-logo-wrap img {
  width: 157px;
  height: auto;
}

@media (min-width: 480px) {
  #new-logo-wrap {
    padding: 30px 15px;
  }
  #new-logo-wrap img {
    width: 177px;
  }
}

#new-menu a#menu-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 42px;
  z-index: 1001;
  background: url("https://gitcdn.link/repo/gurzaf/FristArtMuseum/master/frist/assets/menu.jpg");
  -webkit-background-size: 40px 84px;
          background-size: 40px 84px;
}

#new-menu a#menu-icon.open {
  background-position: bottom;
}

.BBListingHeading h1 {
  font-weight: bold;
  font-size: 24px;
}

@media (min-width: 480px) {
  .BBListingHeading h1 {
    font-size: 28px;
  }
}

div.Programming_Event_DateTime {
  border: 2px solid #CECECE;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer {
  padding: 15px 10px;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  width: 55%;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6:nth-child(2) {
  float: right;
  width: 45%;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 .BBFieldCaption.TicketDateHeaderLabel {
  font-size: 12px;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2, div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2 span {
  margin-left: unset;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2 + span {
  float: none !important;
  font-size: 12px;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2 + span a {
  color: black;
  text-decoration: underline;
}

div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2 + span a:hover, div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2 + span a:active, div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2 + span a:focus {
  text-decoration: none;
}

@media (min-width: 480px) {
  div.Programming_Event_DateTime {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  div.Programming_Event_DateTime .TicketDateTimeInnerContainer {
    padding: 15px;
  }
  div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 {
    width: 35% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 .BBFieldCaption.TicketDateHeaderLabel {
    font-size: 18px;
  }
  div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 .BBFieldCaption.TicketDateHeaderLabel a {
    color: black;
    text-decoration: underline;
  }
  div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 .BBFieldCaption.TicketDateHeaderLabel a:hover, div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 .BBFieldCaption.TicketDateHeaderLabel a:active, div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 .BBFieldCaption.TicketDateHeaderLabel a:focus {
    text-decoration: none;
  }
  div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2, div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2 span {
    font-size: 22px;
  }
  div.Programming_Event_DateTime .TicketDateTimeInnerContainer .col-xs-12.col-md-6.col-lg-6 h2 + span {
    font-size: 18px;
  }
}

.Programming_Event_PriceList {
  border-width: 1px 1px 0px;
  border-style: solid;
  border-color: #CECECE;
}

.Programming_Event_PriceList > .show-grid > .row {
  border-top: 0;
  border-bottom: 1px solid #CECECE;
}

.Programming_Event_PriceList > .show-grid > .row > div.col-sm-12.col-md-6 {
  width: 33.33333333%;
  float: left;
}

@media (min-width: 992px) {
  .Programming_Event_PriceList > .show-grid > .row > div.col-sm-12.col-md-6 {
    width: 50%;
  }
}

.Programming_Event_PriceList > .show-grid > .row > div.col-xs-6.col-md-3 {
  width: 33.33333333%;
}

@media (min-width: 992px) {
  .Programming_Event_PriceList > .show-grid > .row > div.col-xs-6.col-md-3 {
    width: 25%;
  }
}

.Programming_Event_PriceList > .show-grid > .row > div label, .Programming_Event_PriceList > .show-grid > .row > div span {
  line-height: 34px;
  margin-bottom: 0;
}

footer.site-footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #212121;
}

footer.site-footer .frits-footer {
  padding-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
}

footer.site-footer .frits-footer a > img {
  width: 120px;
  height: auto;
}

@media (min-width: 710px) {
  footer.site-footer .frits-footer a > img {
    width: 137px;
  }
}

@media (min-width: 710px) {
  footer.site-footer .frits-footer {
    border-bottom: 1px solid #777777;
    border-top: 1px solid #777777;
    margin: 20px 0 30px;
    padding: 40px 0 30px;
    position: relative;
  }
  footer.site-footer .frits-footer:before, footer.site-footer .frits-footer:after {
    background-image: url("https://gitcdn.link/repo/gurzaf/FristArtMuseum/master/frist/assets/waves.png");
    background-color: #212121;
    content: '';
    width: 126px;
    height: 13px;
    -webkit-background-size: 110px 13px;
            background-size: 110px 13px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -6.5px;
  }
  footer.site-footer .frits-footer:after {
    top: unset;
    bottom: -6.5px;
  }
}

footer.site-footer .frits-footer .footer-buttons {
  text-align: center;
}

footer.site-footer .frits-footer .footer-buttons .btn {
  border-radius: 0;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: #E00000;
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  font-size: 16px;
  margin-top: 25px;
}

footer.site-footer .frits-footer .footer-buttons .btn:hover, footer.site-footer .frits-footer .footer-buttons .btn:active, footer.site-footer .frits-footer .footer-buttons .btn:focus {
  text-decoration: underline;
}

footer.site-footer .frits-footer .footer-buttons .btn:hover, footer.site-footer .frits-footer .footer-buttons .btn:active, footer.site-footer .frits-footer .footer-buttons .btn:focus {
  background-color: transparent;
  color: #E00000;
  border-color: #E00000;
}

footer.site-footer .frits-footer .footer-buttons .btn:last-child {
  margin-top: 15px;
}

@media (min-width: 710px) {
  footer.site-footer .frits-footer .footer-buttons {
    text-align: right;
  }
  footer.site-footer .frits-footer .footer-buttons .btn {
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    font-size: 18px;
    margin-top: 0;
  }
  footer.site-footer .frits-footer .footer-buttons .btn:last-child {
    margin-right: 0;
    margin-top: 0;
  }
}

footer.site-footer .frits-footer .footer-links {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

footer.site-footer .frits-footer .footer-links li a {
  color: white;
  text-decoration: none;
}

footer.site-footer .frits-footer .footer-links li a:focus, footer.site-footer .frits-footer .footer-links li a:active, footer.site-footer .frits-footer .footer-links li a:hover {
  text-decoration: underline;
}

@media (min-width: 710px) {
  footer.site-footer .frits-footer .footer-links {
    margin-top: 35px;
  }
  footer.site-footer .frits-footer .footer-links li {
    display: inline;
    margin-right: 10px;
    border-left: 1px solid white;
    padding-left: 10px;
  }
  footer.site-footer .frits-footer .footer-links li:first-child {
    padding-left: 0;
    border-left: 0;
  }
}

footer.site-footer .frits-footer .copyright {
  text-align: center;
  margin-top: 40px;
}

@media (min-width: 710px) {
  footer.site-footer .frits-footer .copyright {
    text-align: right;
    margin-top: 57px;
  }
}

a[id*="_CartGrid_ButtonUpdateCart"] {
  display: none;
}

div[id*="_CartGrid_topLinkBar"] {
  margin-top: -40px;
}

@media (min-width: 767px) {
  div[id*="_CartGrid_topLinkBar"] {
    margin-top: 0px;
  }
}

div[id*="_CartGrid_topLinkBar"] a {
  position: relative;
  z-index: 1;
  border-radius: 0;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: transparent;
  border: 1px solid #E00000;
  color: #E00000;
  margin-top: 40px;
  margin-bottom: -45px;
  font-size: 16px;
}

div[id*="_CartGrid_topLinkBar"] a:hover, div[id*="_CartGrid_topLinkBar"] a:active, div[id*="_CartGrid_topLinkBar"] a:focus {
  text-decoration: underline;
}

div[id*="_CartGrid_topLinkBar"] a:hover, div[id*="_CartGrid_topLinkBar"] a:active, div[id*="_CartGrid_topLinkBar"] a:focus {
  background-color: #E00000;
  color: white;
  border-color: #E00000;
}

@media (min-width: 389px) {
  div[id*="_CartGrid_topLinkBar"] a {
    font-size: 18px;
  }
}

@media (min-width: 767px) {
  div[id*="_CartGrid_topLinkBar"] a {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

div[id*="_CartGrid_CartContainer"] {
  margin-top: -85px;
}

div[id*="_CartGrid_CartContainer"] .PaymentPart_CartRows.row.show-grid.show-grid-row {
  padding-bottom: 15px;
  border: 0;
}

@media (min-width: 767px) {
  div[id*="_CartGrid_CartContainer"] .PaymentPart_CartRows.row.show-grid.show-grid-row {
    padding-bottom: 0;
  }
}

div[id*="_CartGrid_CartContainer"] .cart-type-group {
  border-color: transparent;
  margin-top: -30px;
}

@media (min-width: 767px) {
  div[id*="_CartGrid_CartContainer"] .cart-type-group {
    margin-top: 0;
  }
}

div[id*="_CartGrid_CartContainer"] .cart-type-group .PaymentPart_CartDescriptionCell {
  padding-top: 20px;
  padding-bottom: 5px;
}

@media (min-width: 767px) {
  div[id*="_CartGrid_CartContainer"] .cart-type-group .PaymentPart_CartDescriptionCell {
    padding-bottom: 0;
  }
}

div[id*="_CartGrid_CartContainer"] .cart-type-group .PaymentPart_CartDescriptionCell h4 {
  margin: 0 0 10px;
}

div[id*="_CartGrid_CartContainer"] .cart-type-group .PaymentPart_CartDescriptionCell h4 a {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

div[id*="_CartGrid_CartContainer"] .cart-type-group .PaymentPart_CartDescriptionCell h4 a:hover, div[id*="_CartGrid_CartContainer"] .cart-type-group .PaymentPart_CartDescriptionCell h4 a:focus, div[id*="_CartGrid_CartContainer"] .cart-type-group .PaymentPart_CartDescriptionCell h4 a:active {
  text-decoration: none;
}

div[id*="_CartGrid_CartContainer"] .cart-type-group .PaymentPart_CartDescriptionCell a.edit-item-link {
  color: #E00000;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

div[id*="_CartGrid_CartContainer"] .cart-type-group .PaymentPart_CartDescriptionCell br {
  display: none;
}

div[id*="_CartGrid_CartContainer"] h2.PaymentPart_CartRows.PaymentPart_CartItemTypeRow.row-grid-sub-heading {
  margin-bottom: 20px;
}

div[id*="_CartGrid_CartContainer"] h2.PaymentPart_CartRows.PaymentPart_CartItemTypeRow.row-grid-sub-heading span {
  padding-left: 0;
}

div[id*="_CartGrid_CartContainer"] .price-group {
  font-size: 14px;
}

div[id*="_CartGrid_CartContainer"] .price-group .PaymentPart_CartCurrencyCell {
  margin-left: 15px;
}

@media (min-width: 767px) {
  div[id*="_CartGrid_CartContainer"] .price-group .PaymentPart_CartCurrencyCell {
    margin-left: 20px;
  }
}

div[id*="_CartGrid_CartContainer"] .price-group .payment-part-remove {
  margin-right: 5px;
}

div[id*="_CartGrid_CartContainer"] .price-group .payment-part-remove a {
  color: black;
  font-weight: bold;
}

div[id*="_CartGrid_CartContainer"] .price-group .PaymentPart_CartItemTotal {
  font-weight: normal;
}

div[id*="tdImageItem"] {
  width: 20%;
  padding-top: 20px;
  display: none;
}

@media (min-width: 767px) {
  div[id*="tdImageItem"] {
    display: block;
  }
}

@media (min-width: 990px) {
  div[id*="tdImageItem"] {
    width: 15%;
  }
}

#divCartSummary {
  margin-top: 20px;
}

#divCartSummary .col-xs-12.col-sm-3 {
  width: 100%;
}

#divCartSummary .col-xs-9.col-sm-7 {
  width: 100%;
}

#divCartSummary #dlDiscountCodeEntry .col-xs-9.col-sm-7 {
  width: calc(100% - 140px);
}

#divCartSummary label {
  font-weight: normal;
}

#divCartSummary input, #divCartSummary select {
  height: 40px;
  border-radius: 0;
}

#divCartSummary .col-xs-3.col-sm-2 {
  padding: 0;
  width: 120px;
}

#divCartSummary .col-xs-3.col-sm-2 input {
  width: 100%;
  border-radius: 0;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: transparent;
  border: 1px solid #E00000;
  color: #E00000;
}

#divCartSummary .col-xs-3.col-sm-2 input:hover, #divCartSummary .col-xs-3.col-sm-2 input:active, #divCartSummary .col-xs-3.col-sm-2 input:focus {
  text-decoration: underline;
}

#divCartSummary .col-xs-3.col-sm-2 input:hover, #divCartSummary .col-xs-3.col-sm-2 input:active, #divCartSummary .col-xs-3.col-sm-2 input:focus {
  background-color: #E00000;
  color: white;
  border-color: #E00000;
}

div.cart-type-group.cart-type-Donations.single-cart-item {
  border: 0;
  padding: 0;
  margin-top: 0;
}

div.cart-type-group.cart-type-Donations.single-cart-item h2 {
  padding-left: 15px;
}

div.cart-type-group.cart-type-Donations.single-cart-item > div {
  background-color: unset;
}

div.cart-type-group.cart-type-Donations.single-cart-item > div .PaymentPart_CartDescriptionCell.col-sm-12 {
  padding-top: 0;
  padding-bottom: 0;
}

div.cart-type-group.cart-type-Donations.single-cart-item > div .PaymentPart_CartDescriptionCell.col-sm-12 h4 {
  margin: 0;
  font-size: 14px;
}

div.cart-type-group.cart-type-Donations.single-cart-item > div .payment-part-subtotal {
  width: calc(100% - 170px);
}

div.cart-type-group.cart-type-Donations.single-cart-item > div .payment-part-subtotal input {
  height: 40px;
  border-radius: 0;
  border-left: 0;
}

div.cart-type-group.cart-type-Donations.single-cart-item > div .payment-part-subtotal .input-group-addon {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
}

div.cart-type-group.cart-type-Donations.single-cart-item > div a.btn.btn-primary.pull-right.add-don-btn {
  border-radius: 0;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: transparent;
  border: 1px solid #E00000;
  color: #E00000;
  width: 120px;
  margin-top: 0;
  margin-right: 20;
}

div.cart-type-group.cart-type-Donations.single-cart-item > div a.btn.btn-primary.pull-right.add-don-btn:hover, div.cart-type-group.cart-type-Donations.single-cart-item > div a.btn.btn-primary.pull-right.add-don-btn:active, div.cart-type-group.cart-type-Donations.single-cart-item > div a.btn.btn-primary.pull-right.add-don-btn:focus {
  text-decoration: underline;
}

div.cart-type-group.cart-type-Donations.single-cart-item > div a.btn.btn-primary.pull-right.add-don-btn:hover, div.cart-type-group.cart-type-Donations.single-cart-item > div a.btn.btn-primary.pull-right.add-don-btn:active, div.cart-type-group.cart-type-Donations.single-cart-item > div a.btn.btn-primary.pull-right.add-don-btn:focus {
  background-color: #E00000;
  color: white;
  border-color: #E00000;
}

div[id*="_divUserSignUp"] {
  display: none;
}

.PaymentPart_PersonalInfoContainer .col-sm-12.col-md-6.form-sidebyside .form-group,
.MembershipExpress_MemberDetails.form-horizontal .form-group {
  margin-bottom: 5px;
}

.PaymentPart_PersonalInfoContainer .col-sm-12.col-md-6.form-sidebyside .form-group label,
.MembershipExpress_MemberDetails.form-horizontal .form-group label {
  text-align: left;
  font-weight: normal;
  margin-bottom: 2px;
}

.PaymentPart_PersonalInfoContainer .col-sm-12.col-md-6.form-sidebyside .form-group .col-sm-9,
.MembershipExpress_MemberDetails.form-horizontal .form-group .col-sm-9 {
  width: 100%;
}

.PaymentPart_PersonalInfoContainer .col-sm-12.col-md-6.form-sidebyside .form-group .col-sm-9 input, .PaymentPart_PersonalInfoContainer .col-sm-12.col-md-6.form-sidebyside .form-group .col-sm-9 select, .PaymentPart_PersonalInfoContainer .col-sm-12.col-md-6.form-sidebyside .form-group .col-sm-9 textarea,
.MembershipExpress_MemberDetails.form-horizontal .form-group .col-sm-9 input,
.MembershipExpress_MemberDetails.form-horizontal .form-group .col-sm-9 select,
.MembershipExpress_MemberDetails.form-horizontal .form-group .col-sm-9 textarea {
  border-radius: 0;
  height: 40px;
}

dl[id*="_dlCartSummary"] {
  padding-right: 15px;
  clear: both;
  padding-top: 30px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

dl[id*="_dlCartSummary"] dd, dl[id*="_dlCartSummary"] dt {
  float: right;
}

dl[id*="_dlCartSummary"] dt {
  margin-right: 10px;
}

input[id*="_ButtonCheckout"] {
  border-radius: 0;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: #E00000;
  border: 1px solid transparent;
  margin-top: -20px;
  min-width: 120px;
}

input[id*="_ButtonCheckout"]:hover, input[id*="_ButtonCheckout"]:active, input[id*="_ButtonCheckout"]:focus {
  text-decoration: underline;
}

input[id*="_ButtonCheckout"]:hover, input[id*="_ButtonCheckout"]:active, input[id*="_ButtonCheckout"]:focus {
  background-color: transparent;
  color: #E00000;
  border-color: #E00000;
}

div#divUseAsBilling {
  display: none;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p {
  max-width: 480px;
  margin-top: 25px;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p strong {
  font-weight: normal;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div div[id*="_CartGrid_CartContainer"] {
  margin-top: 0;
  background-color: #F9F9F9;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div h2.PaymentPart_CartRows.PaymentPart_CartItemTypeRow.row-grid-sub-heading {
  font-weight: bold;
  margin-bottom: 0;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div div[id*="tdImageItem"] {
  display: none;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartRows.row.show-grid.show-grid-row {
  padding: 0 !important;
  background-color: #F9F9F9;
  margin-bottom: 5px;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartRows.row.show-grid.show-grid-row .PaymentPart_CartDescriptionCell {
  padding: 0;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartRows.row.show-grid.show-grid-row .PaymentPart_CartDescriptionCell h4 + span {
  font-weight: bold;
  font-size: 16px;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartRows.row.show-grid.show-grid-row .PaymentPart_CartDescriptionCell span {
  margin-bottom: 5px;
  display: block;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartRows.row.show-grid.show-grid-row .PaymentPart_CartCurrencyCell {
  margin-left: 0;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartRows.row.show-grid.show-grid-row [class*="col-"] {
  padding-top: 0;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .cart-grand-total {
  padding-right: 0;
  padding-top: 15px;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartSummaryCaptionContainer, div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartSummaryFieldContainer {
  margin: 0 0 0 5px !important;
  font-size: 16px;
}

div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartSummaryCaptionContainer label, div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartSummaryCaptionContainer span, div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartSummaryFieldContainer label, div[id*="_PaymentPartFormContainer"] > div.col-sm-12 > div p + div .PaymentPart_CartSummaryFieldContainer span {
  font-weight: bold !important;
}

div#new-menu-links {
  display: none;
  position: fixed;
  background-color: #212121;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 1000;
  height: 100vh;
}

div#new-menu-links ul.main-menu {
  margin-top: 40px;
  list-style: none;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: 480px) {
  div#new-menu-links ul.main-menu {
    font-size: 35px;
  }
}

div#new-menu-links ul.main-menu li a {
  color: white;
}

div#new-menu-links .hours-operation {
  text-align: right;
  margin-top: 80px;
}

div#new-menu-links .hours-operation a {
  color: #E00000;
  font-size: 16px;
}

.fixedmenu {
  position: fixed !important;
  z-index: 1001;
}

#goog-gt-tt, .goog-te-banner-frame, #google_translate_element2 {
  display: none !important;
}

.goog-te-menu-value:hover {
  text-decoration: none !important;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer {
  width: 100%;
  border: 0;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_LevelHeader {
  display: none;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_LevelDescriptionText {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label {
  width: 100%;
  background: white;
  border: 1px solid #E00000;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label .MembershipExpress_TermRadioLevel {
  color: #E00000;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label .MembershipExpress_TermRadiolTerm.level-inner-box-heading,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label .MembershipExpress_TermRadioAmount.level-amount {
  color: #212121;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:active, .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:focus, .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:hover {
  background: #212121;
  border-color: #212121;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:active .MembershipExpress_TermRadiolTerm.level-inner-box-heading,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:active .MembershipExpress_TermRadioAmount.level-amount,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:active .MembershipExpress_TermRadioLevel, .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:focus .MembershipExpress_TermRadiolTerm.level-inner-box-heading,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:focus .MembershipExpress_TermRadioAmount.level-amount,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:focus .MembershipExpress_TermRadioLevel, .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:hover .MembershipExpress_TermRadiolTerm.level-inner-box-heading,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:hover .MembershipExpress_TermRadioAmount.level-amount,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label:hover .MembershipExpress_TermRadioLevel {
  color: white;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label.MembershipExpress_SelectedTermLabel, .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label .MembershipExpress_SelectedTypeLabel {
  background-color: #E00000;
}

.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label.MembershipExpress_SelectedTermLabel .MembershipExpress_TermRadioLevel,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label.MembershipExpress_SelectedTermLabel .MembershipExpress_TermRadiolTerm.level-inner-box-heading,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label.MembershipExpress_SelectedTermLabel .MembershipExpress_TermRadioAmount.level-amount, .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label .MembershipExpress_SelectedTypeLabel .MembershipExpress_TermRadioLevel,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label .MembershipExpress_SelectedTypeLabel .MembershipExpress_TermRadiolTerm.level-inner-box-heading,
.MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer .MembershipExpress_TermContainer label .MembershipExpress_SelectedTypeLabel .MembershipExpress_TermRadioAmount.level-amount {
  color: white;
}

@media (min-width: 480px) {
  .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer {
    width: calc(50% - 7.5px);
  }
  .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer:nth-child(odd) {
    margin-right: 15px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer {
    width: calc(33% - 15px);
    margin-right: 15px;
  }
  .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer:nth-child(3n+0) {
    margin-right: 0px;
  }
  .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer:nth-child(3n+1) {
    clear: left;
  }
}

@media (min-width: 991px) {
  .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer {
    width: calc(25% - 22.5px);
    margin-right: 15px;
  }
  .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer:nth-child(4n+0) {
    margin-right: 0px;
  }
  .MembershipExpress_Selectors .MembershipExpress_LevelContainer .MembershipExpress_LevelSelectorContainer:nth-child(4n+1) {
    clear: left;
  }
}

.MembershipExpress_MemberControl.MembershipExpress_PrimaryMemberControl {
  margin-top: 20px;
  margin-bottom: 20px;
}

.BBFormSubmitButton,
.BBFormSubmitButton {
  border-radius: 0;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: #E00000;
  border: 1px solid transparent;
}

.BBFormSubmitButton:hover, .BBFormSubmitButton:active, .BBFormSubmitButton:focus,
.BBFormSubmitButton:hover,
.BBFormSubmitButton:active,
.BBFormSubmitButton:focus {
  text-decoration: underline;
}

.BBFormSubmitButton:hover, .BBFormSubmitButton:active, .BBFormSubmitButton:focus,
.BBFormSubmitButton:hover,
.BBFormSubmitButton:active,
.BBFormSubmitButton:focus {
  background-color: transparent;
  color: #E00000;
  border-color: #E00000;
}

.total-amount.lead {
  color: #212121 !important;
  font-weight: bold;
}

div[id*="_UpdatePanel"] .col-md-9.listDonationDisplay.with-radio {
  width: 100%;
}

div[id*="_UpdatePanel"] .col-md-9.listDonationDisplay.with-radio > .show-grid > .row {
  border-top-color: #CECECE;
  border-left: 1px solid #CECECE;
  border-right: 1px solid #CECECE;
}

div[id*="_UpdatePanel"] .col-md-9.listDonationDisplay.with-radio > .show-grid.otherLabel > .row {
  border-bottom: 1px solid #CECECE;
}

div[id*="_trAdditInformation"] {
  margin-top: 20px;
}

div[id*="_trAdditInformation"] .col-md-9 {
  width: 100%;
}

div[id*="_trAdditInformation"] .col-md-9 input, div[id*="_trAdditInformation"] .col-md-9 select, div[id*="_trAdditInformation"] .col-md-9 textarea {
  border-radius: 0;
  height: 40px;
}

.Programming_Event_Description p, .Programming_Event_Description ul, .Programming_Event_Description li, .Programming_Event_Description span {
  font-family: 'Poppins', sans-serif !important;
  line-height: 30px;
}
/*# sourceMappingURL=main.css.map */