$grey: #C9C9C9;
$greyButtons: #707070;
$borderColor: #CECECE;

$orange: #F04623;

$headerHeight: 30px;

$logoWidth: 177px;
$logoHeight: 81px;

$menuWidth: 40px;
$menuHeight: 42px;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.site-wrapper {
  position: initial;
  header.site-header {
    position: absolute;
    background-color: $grey;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    margin: 0;
    ul.header_links {
      list-style: none;
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      text-align: right;
      padding-left: $headerHeight - 5;
      padding-right: $headerHeight - 5;
      li {
        display: inline-block;
        a {
          padding: 0 20px;
          background-color: $greyButtons;
          color: white;
          height: $headerHeight;
          display: inline-block;
          line-height: $headerHeight;
          font-size: $headerHeight - 15;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover, &:active, &:focus {
            background-color: darken($greyButtons, 10);
          }
          &.language {
            span {
              width: $headerHeight - 10;
              height: $headerHeight - 10;
              display: inline-block;
              background: url('../assets/globe.png');
              background-size: cover;
              margin-top: 5px;
              margin-bottom: -5px;
              margin-right: 5px;
            }
          }
          @media(min-width: 480px) {
            font-size: $headerHeight - 10;
            &.language {
              span {
                margin-top: 2.5px;
                margin-bottom: -3px;
              }
            }
          }
        }
        margin-right: 20px;
        &:last-child {
          margin-right: 30px;
          @media(min-width: 1200px) {
            margin-right: 0;
          }
        }
      }
    }
  }
  section.site-main-section {
    margin-top: $logoHeight + ($headerHeight * 2.5);
  }
}

main.main-Content {
  float: none;
  width: 100%;
  left: 0;
  .BBFormButtonCell.form-group.clearfix {
    margin: 40px 0;
    input.btn.btn-primary {
      background-color: $orange;
      border-radius: 0;
      float: right;
      border: 0;
      font-size: 18px;
      transition: all 0.2s ease-out;
      &:hover, &:active, &:focus {
        background-color: darken($orange, 10);
      }
    }
  }
}

#new-logo-wrap {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; 
  padding: $headerHeight 15px;
  img {
    width: $logoWidth;
    height: $logoHeight;
  }
}

#new-menu {
  a#menu-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: $menuWidth;
    height: $menuHeight;
    img {
      width: 100%;
      height: 100%;
    }
    @media (min-width: 480px) {
      width: $menuWidth + 10;
      height: $menuHeight + 10;
    }
  }
}

.BBListingHeading h1 {
  font-weight: bold;
  font-size: 28px;
}

div.Programming_Event_DateTime {
  border: 2px solid $borderColor;
  margin-top: 40px;
  margin-bottom: 40px;
  .TicketDateTimeInnerContainer {
    padding: 15px;
    .col-xs-12.col-md-6.col-lg-6 {
      text-align: center;
      width: 30%;
      &:nth-child(2) {
        float: right;
      }
      .BBFieldCaption.TicketDateHeaderLabel {
        font-size: 18px;
      }
      h2, h2 span {
        margin-left: unset;
        margin: 0;
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}

.Programming_Event_PriceList {
  border-width: 1px 1px 0px;
  border-style: solid;
  border-color: $borderColor;
  > .show-grid {
    > .row {
      border-top: 0;
      border-bottom: 1px solid $borderColor;
      > div {
        label, span {
          line-height: 34px;
          margin-bottom: 0;
        }
      }
    }
  }
}

