$grey: #C9C9C9;
$greyButtons: #707070;
$borderColor: #CECECE;

$orange: #E00000;

$footerColor: #212121;

$headerHeight: 30px;

$logoWidth: 177px;
$logoHeight: 81px;

$menuWidth: 40px;
$menuHeight: 42px;

$footerBorder: #777777;

$cellsBackground: #F9F9F9;

$cdn: 'https://gitcdn.link/repo/gurzaf/FristArtMuseum/master/frist';
// $cdn: 'https://raw.githubusercontent.com/gurzaf/FristArtMuseum/master/frist';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@mixin button {
  border-radius: 0;
  font-size: 18px;
  transition: all 0.1s ease-out;
  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}

@mixin orangeButton {
  @include button;
  background-color: $orange;
  border: 1px solid transparent;
  &:hover, &:active, &:focus {
    background-color: transparent;
    color: $orange;
    border-color: $orange;
  }
}

@mixin orangeButtonAlt {
  @include button;
  background-color: transparent;
  border: 1px solid $orange;
  color: $orange;
  &:hover, &:active, &:focus {
    background-color: $orange;
    color: white;
    border-color: $orange;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background: $footerColor;
  height: 100vh;
  top: 0 !important;
  > .site-container, > form {
    background: white;
  }
}

.MS_pageWrapper {
  margin-bottom: 0;
}

.site-wrapper {
  form {
    margin-bottom: 0;
  }
  position: initial;
  header.site-header {
    position: absolute;
    background-color: $grey;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    margin: 0;
    ul.header_links {
      list-style: none;
      max-width: 1170px;
      margin-left: -15px;
      margin-right: 0;
      text-align: right;
      padding-left: 0;
      padding-right: $headerHeight - 5;
      @media (min-width: 480px) {
        margin-left: auto;
        margin-right: auto;
      }
      li {
        display: inline-block;
        vertical-align: top;
        a {
          padding: 0 10px;
          background-color: $greyButtons;
          color: white;
          height: $headerHeight;
          display: inline-block;
          line-height: $headerHeight;
          font-size: $headerHeight - 15;
          text-decoration: none;
          transition: all 0.1s ease-out;
          &:hover, &:active, &:focus {
            background-color: black;
          }
          &.language {
            &:focus {
              background-color: $greyButtons;
            }
            span {
              width: $headerHeight - 10;
              height: $headerHeight - 10;
              display: inline-block;
              background: url('#{$cdn}/assets/globe.png');
              background-size: cover;
              margin-top: 5px;
              margin-bottom: -5px;
              margin-right: 5px;
            }
            select {
              background: transparent;
              border: 0;
              max-width: 100px;
              margin-right: 10px;
            }
            padding-right: 0;
          }
          @media(min-width: 480px) {
            font-size: $headerHeight - 10;
            padding: 0 15px;
            &.language {
              span {
                margin-top: 2.5px;
                margin-bottom: -3px;
              }
              select {
                max-width: 150px;
              }
            }
          }
        }
        margin-right: 15px;
        &:last-child {
          margin-right: 15px;
          @media(min-width: 1200px) {
            margin-right: 0;
          }
        }
      }
    }
  }
  .site-main-section {
    margin-top: $logoHeight + ($headerHeight);
    @media (min-width: 480px) {
      margin-top: $logoHeight + ($headerHeight * 2.5);
    }
  }
}

main.main-Content {
  float: none;
  width: 100%;
  left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  .MS_contentWrapper_inner.overflow_margin_helper {
    padding-bottom: 0;
  }
  .BBFormButtonCell.form-group.clearfix {
    margin: 40px 0;
    input.btn.btn-primary {
      float: right;
      @include orangeButton;
    }
  }
}

#new-logo-wrap {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; 
  padding: $headerHeight/2 0;
  background: white;
  img {
    width: $logoWidth - 20;
    height: auto;
  }
  @media (min-width: 480px) {
    padding: $headerHeight 15px;
    img {
      width: $logoWidth;
    }
  }
}

#new-menu {
  a#menu-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: $menuWidth;
    height: $menuHeight;
    z-index: 1001;
    background: url('#{$cdn}/assets/menu.jpg');
    background-size: $menuWidth $menuHeight * 2;
    &.open {
      background-position: bottom;
    }
  }
}

.BBListingHeading h1 {
  font-weight: bold;
  font-size: 24px;
  @media (min-width: 480px) {
    font-size: 28px;
  }
}

div.Programming_Event_DateTime {
  border: 2px solid $borderColor;
  margin-top: 20px;
  margin-bottom: 20px;
  .TicketDateTimeInnerContainer {
    padding: 15px 10px;
    .col-xs-12.col-md-6.col-lg-6 {
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      width: 55%;
      &:nth-child(2) {
        float: right;
        width: 45%;
      }
      .BBFieldCaption.TicketDateHeaderLabel {
        font-size: 12px;
      }
      h2, h2 span {
        margin-left: unset;
        margin: 0;
        font-size: 14px;
        font-weight: bold;
      }
      h2 + span {
        float: none !important;
        font-size: 12px;
        a {
          color: black;
          text-decoration: underline;
          &:hover, &:active, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
  @media (min-width: 480px) {
    margin-top: 40px;
    margin-bottom: 40px;
    .TicketDateTimeInnerContainer {
      padding: 15px;
      .col-xs-12.col-md-6.col-lg-6 {
        width: 35% !important;
        padding-left: 15px;
        padding-right: 15px;
        .BBFieldCaption.TicketDateHeaderLabel {
          font-size: 18px;
          a {
            color: black;
            text-decoration: underline;
            &:hover, &:active, &:focus {
              text-decoration: none;
            }
          }
        }
        h2, h2 span {
          font-size: 22px;
        }
        h2 + span {
          font-size: 18px;
        }
      }
    }
  }
}

.Programming_Event_PriceList {
  border-width: 1px 1px 0px;
  border-style: solid;
  border-color: $borderColor;
  > .show-grid {
    > .row {
      border-top: 0;
      border-bottom: 1px solid $borderColor;
      > div {
        &.col-sm-12.col-md-6 {
          width: 33.33333333%;
          float: left;
          // background-color: blue;
          @media (min-width: 992px) {
            width: 50%;
          }
        }
        &.col-xs-6.col-md-3 {
          width: 33.33333333%;
          @media (min-width: 992px) {
            width: 25%;
          }
        }
        label, span {
          line-height: 34px;
          margin-bottom: 0;
        }
      }
    }
  }
}

footer.site-footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: $footerColor;
  .frits-footer {
    padding-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
    a > img {
      width: 120px;
      height: auto;
      @media (min-width: 710px) {
        width: 137px;
      }
    }
    @media (min-width: 710px) {
      border-bottom: 1px solid $footerBorder;
      border-top: 1px solid $footerBorder;
      margin: 20px 0 30px;
      padding: 40px 0 30px;
      position: relative;
      &:before, &:after {
        background-image: url('#{$cdn}/assets/waves.png');
        background-color: $footerColor;
        content: '';
        width: 126px;
        height: 13px;
        background-size: 110px 13px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -6.5px;
      }
      &:after {
        top: unset;
        bottom: -6.5px;
      }
    }
    .footer-buttons {
      text-align: center;
      .btn {
        @include orangeButton;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        font-size: 16px;
        margin-top: 25px;
        &:last-child {
          margin-top: 15px;
        }
      }
      @media (min-width: 710px) {
        text-align: right;
        .btn {
          margin-right: 10px;
          padding-left: 20px;
          padding-right: 20px;
          width: auto;
          font-size: 18px;
          margin-top: 0;
          &:last-child {
            margin-right: 0;
            margin-top: 0;
          }
        }
      }
    }
    .footer-links {
      list-style: none;
      padding-left: 0;
      margin-top: 20px;
      li {
        a {
          color: white;
          text-decoration: none;
          &:focus, &:active, &:hover {
            text-decoration: underline;
          }
        }
      }
      @media (min-width: 710px) {
        margin-top: 35px;
        li {
          display: inline;
          margin-right: 10px;
          border-left: 1px solid white;
          padding-left: 10px;
          &:first-child {
            padding-left: 0;
            border-left: 0;
          }
        }
      }
    }
    .copyright {
      text-align: center;
      margin-top: 40px;
      @media (min-width: 710px) {
        text-align: right;
        margin-top: 57px;
      }
    }
  }
}

// hide updatecart button
a[id*="_CartGrid_ButtonUpdateCart"] {
  display: none;
}

div[id*="_CartGrid_topLinkBar"] {
  margin-top: -40px;
  @media (min-width: 767px) {
    margin-top: 0px;
  }
  a {
    position: relative;
    z-index: 1;
    @include orangeButtonAlt;
    margin-top: 40px;
    margin-bottom: -45px;
    font-size: 16px;
    @media (min-width: 389px) {
      font-size: 18px;
    }
    @media (min-width: 767px) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

div[id*="_CartGrid_CartContainer"] {
  margin-top: -85px;
  .PaymentPart_CartRows.row.show-grid.show-grid-row {
    padding-bottom: 15px;
    border: 0;
    @media (min-width: 767px) {
      padding-bottom: 0;
    }
  }
  .cart-type-group {
    border-color: transparent;
    margin-top: -30px;
    @media (min-width: 767px) {
      margin-top: 0;
    }
    .PaymentPart_CartDescriptionCell {
      padding-top: 20px;
      padding-bottom: 5px;
      @media (min-width: 767px) {
        padding-bottom: 0;
      }
      h4 {
        margin: 0 0 10px;
        a {
          font-size: 14px;
          color: black;
          font-weight: bold;
          &:hover, &:focus, &:active {
            text-decoration: none;
          }
        }

      }
      a.edit-item-link {
        color: $orange;
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
      }
      br {
        display: none;
      }
    }
  }
  h2.PaymentPart_CartRows.PaymentPart_CartItemTypeRow.row-grid-sub-heading {
    margin-bottom: 20px;
    span {
      padding-left: 0;
    }
  }
  .price-group {
    font-size: 14px;
    .PaymentPart_CartCurrencyCell {
      margin-left: 15px;
      @media (min-width: 767px) {
        margin-left: 20px;
      }
    }
    .payment-part-remove {
      margin-right: 5px;
      a {
        color: black;
        font-weight: bold;
      }
    }
    .PaymentPart_CartItemTotal {
      font-weight: normal;
    }
  }
}

div[id*="tdImageItem"] {
  width: 20%;
  padding-top: 20px;
  display: none;
  @media (min-width: 767px) {
    display: block;
  }
  @media (min-width: 990px) {
    width: 15%;
  }
}

#divCartSummary {
  margin-top: 20px;
  .col-xs-12.col-sm-3 {
    width: 100%;
  }
  .col-xs-9.col-sm-7 {
    width: 100%;
  }
  #dlDiscountCodeEntry {
    .col-xs-9.col-sm-7 {
      width: calc(100% - 140px);
    }
  }
  label {
    font-weight: normal;
  }
  input, select {
    height: 40px;
    border-radius: 0;
  }
  .col-xs-3.col-sm-2 {
    padding: 0;
    width: 120px;
    input {
      width: 100%;
      @include orangeButtonAlt;
    }
  }
}

div.cart-type-group.cart-type-Donations.single-cart-item {
  border: 0;
  padding: 0;
  margin-top: 0;
  h2 {
    padding-left: 15px;
  }
  > div {
    background-color: unset;
    .PaymentPart_CartDescriptionCell.col-sm-12 {
      padding-top: 0;
      padding-bottom: 0;
      h4 {
        margin: 0;
        font-size: 14px;
      }
    }
    .payment-part-subtotal {
      width: calc(100% - 170px);
      input {
        height: 40px;
        border-radius: 0;
        border-left: 0;
      }
      .input-group-addon {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0;
      }
    }
    a.btn.btn-primary.pull-right.add-don-btn {
      @include orangeButtonAlt;
      width: 120px;
      margin-top: 0;
      margin-right: 20;
    }
  }
}

div[id*="_divUserSignUp"] {
  display: none;
}

.PaymentPart_PersonalInfoContainer .col-sm-12.col-md-6.form-sidebyside,
.MembershipExpress_MemberDetails.form-horizontal {
  .form-group {
    margin-bottom: 5px;
    label {
      text-align: left;
      font-weight: normal;
      margin-bottom: 2px;
    }
    .col-sm-9 {
      width: 100%;
      input, select, textarea {
        border-radius: 0;
        height: 40px;
      }
    }
  }
}

dl[id*="_dlCartSummary"] {
  padding-right: 15px;
  clear: both;
  padding-top: 30px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  dd, dt {
    float: right;
  }
  dt {
    margin-right: 10px;
  }
}

input[id*="_ButtonCheckout"] {
  @include orangeButton;
  margin-top: -20px;
  min-width: 120px;
}

div#divUseAsBilling {
  display: none;
}

div[id*="_PaymentPartFormContainer"] {
  > div.col-sm-12 > div {
    p {
      max-width: 480px;
      margin-top: 25px;
      strong {
        font-weight: normal;
      }
    }
    p + div {
      div[id*="_CartGrid_CartContainer"] {
        margin-top: 0;
        background-color: $cellsBackground;
      }
      h2.PaymentPart_CartRows.PaymentPart_CartItemTypeRow.row-grid-sub-heading {
        font-weight: bold;
        margin-bottom: 0;
      }
      div[id*="tdImageItem"] {
        display: none;
      }
      .PaymentPart_CartRows.row.show-grid.show-grid-row {
        padding: 0 !important;
        background-color: $cellsBackground;
        margin-bottom: 5px;
        .PaymentPart_CartDescriptionCell {
          padding: 0;
          h4 + span {
            font-weight: bold;
            font-size: 16px;
          }
          span {
            margin-bottom: 5px;
            display: block;
          }
        }
        .PaymentPart_CartCurrencyCell {
          margin-left: 0;
        }
        [class*="col-"]{
          padding-top: 0;
        }
      }
      .cart-grand-total {
        padding-right: 0;
        padding-top: 15px;
      }
      .PaymentPart_CartSummaryCaptionContainer, .PaymentPart_CartSummaryFieldContainer {
        margin: 0 0 0 5px !important;
        font-size: 16px;
        label, span {
          font-weight: bold !important;
        }
      }
    }
  }
}



div#new-menu-links {
  display: none;
  position: fixed;
  background-color: $footerColor;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 1000;
  height: 100vh;
  ul.main-menu {
    margin-top: 40px;
    list-style: none;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    @media (min-width: 480px) {
      font-size: 35px;
    }
    li {
      a {
        color: white;
      }
    }
  }
  .hours-operation {
    text-align: right;
    margin-top: 80px;
    a {
      color: $orange;
      font-size: 16px;
    }
  }
}

.fixedmenu {
  position: fixed !important;
  z-index: 1001;
}

// Translation styles

#goog-gt-tt, .goog-te-banner-frame,  #google_translate_element2{
  display:none !important;
}
.goog-te-menu-value:hover {
  text-decoration:none !important;
}

// Basic membership
.MembershipExpress_Selectors {
  .MembershipExpress_LevelContainer {
    .MembershipExpress_LevelSelectorContainer {
      .MembershipExpress_LevelHeader {
        display: none;
      }
      .MembershipExpress_LevelDescriptionText {
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        height: 12px;
      }
      .MembershipExpress_TermContainer {
        label {
          width: 100%;
          background: white;
          border: 1px solid $orange;
          .MembershipExpress_TermRadioLevel {
            color: $orange;
          }
          .MembershipExpress_TermRadiolTerm.level-inner-box-heading,
          .MembershipExpress_TermRadioAmount.level-amount {
            color: $footerColor;
          }
          &:active, &:focus, &:hover {
            background: $footerColor;
            border-color: $footerColor;
            .MembershipExpress_TermRadiolTerm.level-inner-box-heading,
            .MembershipExpress_TermRadioAmount.level-amount,
            .MembershipExpress_TermRadioLevel {
              color: white;
            }
          }
          &.MembershipExpress_SelectedTermLabel, .MembershipExpress_SelectedTypeLabel {
            background-color: $orange;
            .MembershipExpress_TermRadioLevel,
            .MembershipExpress_TermRadiolTerm.level-inner-box-heading,
            .MembershipExpress_TermRadioAmount.level-amount {
              color: white;
            }
          }
        }
      }
      width: 100%;
      border: 0;
      @media (min-width: 480px) {
        width: calc(50% - 7.5px);
        &:nth-child(odd) {
          margin-right: 15px;
        }
      }
      @media (min-width: 767px) and (max-width: 991px) {
        width: calc(33% - 15px);
        margin-right: 15px;
        &:nth-child(3n+0) {
          margin-right: 0px;
        }
        &:nth-child(3n+1) {
          clear: left;
        }
      }
      @media (min-width: 991px) {
        width: calc(25% - 22.5px);
        margin-right: 15px;
        &:nth-child(4n+0) {
          margin-right: 0px;
        }
        &:nth-child(4n+1) {
          clear: left;
        }
      }
    }
  }
}

.MembershipExpress_MemberControl.MembershipExpress_PrimaryMemberControl {
  margin-top: 20px;
  margin-bottom: 20px;
}

.BBFormSubmitButton,
.BBFormSubmitButton {
  @include orangeButton;
}

.total-amount.lead {
  color: $footerColor !important;
  font-weight: bold;
}

// Annual fund
div[id*="_UpdatePanel"] {
  .col-md-9.listDonationDisplay.with-radio {
    width: 100%;
    > .show-grid {
      > .row {
        border-top-color: $borderColor;
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
      }
      &.otherLabel {
        > .row {
          border-bottom: 1px solid $borderColor;
        }
      }
    }
  }
}

div[id*="_trAdditInformation"] {
  margin-top: 20px;
  // margin-bottom: 20px;
  .col-md-9 {
    width: 100%;
    input, select, textarea {
      border-radius: 0;
      height: 40px;
    }
  }
}

// Event Description

.Programming_Event_Description {
  p, ul, li, span {
    font-family: 'Poppins', sans-serif !important;
    line-height: 30px;
  }
}